.column-body {
    display: grid;
    grid-template-columns: 0.75fr 2.25fr;
    gap: 16px;
    height: 100vh;
    padding-top: 10px;
  }

.header-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(235, 21, 21);
}

.header-title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-button-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 25px;
}

.logo {
    width: 50px;
    height: 50px;
    padding-left: 15px;
}

.title {
    width: 200px;
    height: 150px;
}

.post-button,
.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: wrap;
    height: 25px;
    border: none;

    cursor: pointer;
    padding: 15px 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease;
    font-weight: bold;
    color: white;
}

.post-button {
    background-color: rgb(65, 135, 65);
}

.login-button {
    background-color: rgb(120, 0, 0);
}

.post-button:hover {
    background-color: rgb(65, 105, 65);
}

.login-button:hover {
    background-color: rgb(100, 0, 0);
}

.post-button:active,
.login-button:active {
    transform: scale(95%);
}

.filter-container {
    display: flex;
    justify-content: center;
}

.search-input {
    width: 75%;
    height: 25px;
}

.project-container {
    background-color: blue;
}
