.column-body {
    display: grid;
    grid-template-columns: 0.75fr 2.25fr;
    gap: 16px;
    height: 100vh;
    padding-top: 10px;
  }

.header-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(235, 21, 21);
}

.header-title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-button-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 25px;
}

.logo {
    width: 50px;
    height: 50px;
    padding-left: 15px;
}

.title {
    width: 200px;
    height: 150px;
}

.post-button,
.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: wrap;
    height: 25px;
    border: none;
    cursor: pointer;
    padding: 25px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.post-button {
    background-color: rgb(65, 135, 65);
}

.login-button {
    background-color: rgb(120, 0, 0);
}

.post-button:hover {
    background-color: rgb(65, 105, 65);
}

.login-button:hover {
    background-color: rgb(100, 0, 0);
}

.post-button:active,
.login-button:active {
    transform: scale(95%);
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.search-container {
    display: inline-flex;
    justify-content: center;
    margin-top: 25px;
}

.search-input {
    height: 25px;
    border: none;
    background-color: rgb(235, 21, 21);
    color: white;
    border-radius: 5px 0 0 5px;
    outline: none;
    caret-color: white;
    padding: 10px;

}

.search-button {
    height: 45px;
    width: 15px;
    background-color: rgb(235, 21, 21);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-button-img {
    height: 15px;
    width: 15px;
    padding: 10px;
    transition: all 0.15s ease;
}

.search-button:active .search-button-img {
    transform: scale(95%);
}

.courses-container,
.skills-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    margin-top: 15px;
    padding-left: 45px;
}

.section-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(235, 21, 21);
}

.checkbox-list {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 3px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Main Section*/

.main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid red;
}

.first-panel {
    justify-content: center;
    gap:52px;
    padding: 20px;
    border: 1px solid #eee;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
}
.info {
    max-width:200px
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: antiquewhite;
    color: rgb(235, 21, 21);
    padding: 35px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 1.5rem;
}

.popup-input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(235, 21, 21);
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    caret-color: white;
    margin-bottom: 10px;
}

.close-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: inherit;
}

.popup-title {
    margin-top: 0;
}

.confirm-popup-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(235, 21, 21);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);;
    cursor: pointer;
    transition: all 0.15s ease;
}

.confirm-popup-btn:hover {
    background-color: rgb(205, 21, 21);
}

.confirm-popup-btn:active,
.close-popup:active {
    transform: scale(95%)
}

.close-popup {
    width: 20px;
    height: auto;
    transition: all 0.15s ease;
    cursor: pointer;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link color inherit from the parent element */
    cursor: inherit; /* Optional: Removes the pointer cursor, making it appear like normal text */
}

.project-container {
    width: 100%;
    overflow: auto;
}

.image-container {
    width: 100%;
    padding-bottom: 25px;
}

.image-container img {
    width: 100%;

}

.information-section {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: antiquewhite;
}

.projects-text {
    padding-left: 50px;
    font-weight: bold;
    color: red;
    font-size: 2rem;
}

.number-of-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number-text {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.below-number-text {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0;
    color: red;
}

.sort-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
}

.sort-section label {
    font-weight: bold;
    color: red;
    font-size: 1.25rem;
}

.project-item-container {
    border: 1px solid black;
    padding: 10px;
}

.project-section {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.recommendation-section {
    width: 100%;
    display: inline-flex;
    gap:10px;
    
    margin-top: 10px;

}

.recommendation {
    border: 1px solid black;
    padding: 10px;
}

.recommendation:hover {
    transform:scale(105%);
    transition: all 0.15s ease;
}
    
